.header{
    display: flex;
    flex-direction: column;
}
.header_nav{
    padding: 10px 160px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-page{
    font-size: var(--font-size-h4);
    font-family: "Kharkiv";
    color:white;
    padding: 10px 15px;
    border-style: solid;
    border-color: var(--black);
    border-radius: 8px;
    transition: 300ms;
    border-width: 1px;
}
.nav-page:hover{
    color: white;
    border-color: red;
    transition: 300ms;
}
.nav-page:active{
    color:var(--green_light);
}
.nav-title{
    font-size: var(--font-size-h1);
    font-family: "Wentrisor";
}
