.header{
    display: flex;
    flex-direction: column;
}
.header_nav{
    padding: 0.4vw 10.58vw;
    /* подумати над тим щоб при прокручуванні все працювало норм*/
    position: relative; 
    width: 100%;
    background-color: var(--black);
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-page{
    font-size: var(--font-size-h4);
    font-family: "Kharkiv";
    color:white;
    padding: 0.66vw 1.32vw;
    border-style: solid;
    border-color: var(--black);
    border-radius: 8px;
    transition: 300ms;
    border-width: 0.066vw;
}
.nav-page:hover{
    color: white;
    border-color: var(--red);
    transition: 300ms;
}
.nav-page:active{
    color:var(--green_light);
}
.nav-title{
    width: 12.7vw;
    height: 6.61vw;
}
.header_desc{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(25, 27, 25, 1)), url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 28.9vw;
    padding-left: 10.58vw;
    height: 52.25vw;
}
.header_desc-title{
    font-family: "Wentrisor";
    font-size: var(--font-size-h1);
}
.header_desc-subtitle{
    font-family: "Kharkiv";
    font-size: var(--font-size-h4);
    width: 55.22vw;
    padding: 2.116vw 0px 2.116vw;
    border-style: none none solid none;
    border-color: var(--red); 
    border-width: 0.198vw;
}
/* !reserve.html */
.reserve-title{
    margin-top: 5.291vw;
    text-align: center;
    font-family: "Wentrisor";
    color: var(--green_light);
    padding: 1.984vw 0px;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(25, 27, 25, 0.5)), url("../img/bg-reserve-header.png");
    background-size: cover;
    background-position: center;
}
/* !map.html */
.map-title{
    /* margin-top: ; */
    text-align: center;
    font-family: "Wentrisor";
    color: var(--green_light);
    /* padding: 30px 0px; */
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(25, 27, 25, 0.5)), url("../img/mountain-bg-header-map.png");
    background-size: cover;
    background-position: center;
}