.main{
    display: flex;
    flex-direction: column;
    padding: 0% 10.5%;
    margin-top: 150px;
}
/* !1page */
.welcome{
    display: flex;
    color: white;
    font-family: "Kharkiv";
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h3);

}
.welcome_h3{
    padding: 5% 7% 2% 7%;
    text-align: center;
    border-style: none none solid none;
    border-color: var(--red); 
    border-width: 3px;
}
.about{
    display: flex;
    padding: 50px 0px 0px;
}
.about-left{
    flex-direction: row;
}
.about-right{
    flex-direction: row-reverse;
}
.about-title{
    width: 45%;
    color: var(--green_light);
    font-family: "Wentrisor";
    font-size: var(--font-size-h1);
    display: flex;
    align-self: center;
}
.about-desc{
    width: 55%;
    color: white;
    font-family: "Kharkiv";
    line-height: 1.3;
}
.about_h3{
    padding: 35px 0px;
}
.right-to-left-text{
    direction: rtl;
}
#button{
    margin: 25px 0px 0px;
    padding: 16px 30px;
    border-style: solid;
    border-color: var(--red); 
    border-width: 1px;
    border-radius: 8px;
    transition: 500ms;
    font-size: var(--font-size-h4);
}
#button:hover{
    background-color: var(--red_dark);
    transition: 500ms;
}
#button:active{
    background-color: var(--red);
}

/* !2page */
.title{
    text-align: center;
    font-family: "Wentrisor";
    padding: 35px 0px 20px;
}
.subtitle{
    color: white;
    font-family: "Kharkiv";
    text-align: center;
}
/* !3page */
.dragon-img{
    height: 600px;
    object-fit: cover;
    object-position: top; /* Обрізати з верхньої частини зображення */
}
.desc_dragon{
    color: white;
    font-family: "Kharkiv";
}
.button-dragon{
    width: 24%;
}
.desc_dragon-h2{
    padding: 50px 0px 20px;
}
.desc_dragon-p{
    line-height: 1.3;
}
.example{
    margin-top: -50px;
    display: none;
}

/* !to-do */

.doing{
    color: white;
    font-family: "Kharkiv";
}
.doing-main-title{
    text-align: center;
}
.doing-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
.doing-one{
    padding: 40px 0px;
    display: grid;
    grid-template-rows: 3fr 7fr;
    row-gap: 10px;
}
.doing-title{
    display: grid;
    grid-template-columns: 1fr 7fr;
    column-gap: 30px;
    align-items: center;
}
.doing-p{
    line-height: 1.4;
}
.price{
    margin: 40px 0px;
    padding: 40px 0px 10px;
    border-style: solid none solid;
    border-color: var(--red); 
    border-width: 3px;
}
.price-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    grid-auto-rows: minmax(50px, auto);
}
.attention{
    padding: 25px 0px 10px;
    color: var(--red);
}
.price-main_h4{
    padding: 0px 0px 15px
}